mixin socials()
  +b.socials&attributes(attributes)
    +e.list
      +e.item
        +e.link(href="#")
          +e.img(src="/assets/img/icons/socials/telegram.svg")
      +e.item
        +e.link(href="#")
          +e.img(src="/assets/img/icons/socials/youtube.svg")
      +e.item
        +e.link(href="#")
          +e.img(src="/assets/img/icons/socials/facebook.svg")
      +e.item
        +e.link(href="#")
          +e.img(src="/assets/img/icons/socials/instagram.svg")
      +e.item
        +e.link(href="#")
          +e.img(src="/assets/img/icons/socials/vk.svg")
