mixin mission()
  +b.SECTION.mission#mission
    +e.wrap
      +e.points
        +b.svg(src="/assets/img/mission/points.svg")
      +e.sea
        +b.svg(src="/assets/img/mission/sea.svg")
      +e.description
        +e.H1.title Наша миссия
        +e.text Обьединеняем между собой специалистов, которые живут в Сочи,
          +b.BR
          |переехали на ПМЖ или находятся в командировке
        +e.center
          +e.ellipse
      +e.content
        +e.about
          +b.whoWe
            +e.title Кто мы?
            +e.text Мы — профессиональное сообщество диджитал специалистов в городе Сочи. Проводим тематические мероприятия в области технологий.
          +b.weAre
            +e.title Нас уже
            +e.specialists
              +b.B >571
              +b.SPAN.icons 👨‍👩‍
              +b.BR
              | специалистов
        +e.blocks
          +b.missions
            +e.wrap
              +b.block
                +e.wrap
                  +e.pic
                    +e.img(src="/assets/img/mission/programming.png")
                  +e.content
                    +e.title Образование
                    +e.description
                      | Неважно, новичок или умудрённый двадцатилетним опытом разработчик — приходите узнавать новое и общаться.&nbsp;
                      +b.B Вход свободный!
              +b.block
                +e.wrap
                  +e.pic
                    +e.img(src="/assets/img/mission/connection.png")
                  +e.content
                    +e.title Нетворкинг
                    +e.description
                      | Создаем пространство для&nbsp;
                      +b.B живого общения
                      | &nbsp;и комфортного обучения. Условия для поиска
                      | партнеров и сотрудников
              +b.block
                +e.wrap
                  +e.pic
                    +e.img(src="/assets/img/mission/magic.png")
                  +e.content
                    +e.title Организация
                    +e.description
                      | В рамках сообщества проводятся митапы,
                      | мастер-классы, конференции с количеством посетителей&nbsp;
                      +b.B до 500 человек!
            +e.pagination
        +e.actions
          +button('Присоединиться к сообществу')._color_yellow._clip
            +e.SPAN.icon
              include /assets/img/icons/arrow-right.svg
          +socials()._inContent(style="margin-left: 8px;")
