mixin instagram()
  +b.instagram
    +e.wrap
      +e.content
        +e.title Инст
        +e.subtitle
          +e.SPAN.icon
            include /assets/img/icons/socials/instagram.svg
          +e.SPAN.acc @south_community
          +arrow()._color_white
        +b.pics
          +e.wrap
            +e.item
              +e.img(src="/assets/img/instagram/insta1.jpg")
            +e.item
              +e.img(src="/assets/img/instagram/insta2.jpg")
            +e.item
              +e.img(src="/assets/img/instagram/insta3.jpg")
            +e.item
              +e.img(src="/assets/img/instagram/insta1.jpg")
            +e.item
              +e.img(src="/assets/img/instagram/insta2.jpg")
            +e.item
              +e.img(src="/assets/img/instagram/insta3.jpg")
            +e.item
              +e.img(src="/assets/img/instagram/insta1.jpg")
            +e.item
              +e.img(src="/assets/img/instagram/insta2.jpg")
            +e.item
              +e.img(src="/assets/img/instagram/insta3.jpg")
          +e.pagination
