<div class="instagram-title">Инстаграм</div>
<div class="instagram-subtitle"><span class="instagram-icon">
    {% include "svg/instagram_svg/_instagram_icon.html" %}
</span><a href="{{ bag("links.instagram_link") }}" class="instagram-acc" style="color: white">@it_sochi_community</a>
    <div class="arrow arrow_color_white">
        <div class="arrow-left">
            {% include "svg/instagram_svg/_arrow_left.html" %}
        </div>
        <div class="arrow-sepor">/</div>
        <div class="arrow-right">
            {% include "svg/instagram_svg/_arrow_right.html" %}
        </div>
    </div>
</div>