{% include "_metrica.html" %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="apple-touch-icon" sizes="180x180"
      href="{{ '/img/title/apple-touch-icon.png' | asseturl }}">
<link rel="icon" type="image/png" sizes="32x32"
      href="{{ '/img/title/favicon-32x32.png' | asseturl }}">
<link rel="icon" type="image/png" sizes="16x16"
      href="{{ '/img/title/favicon-16x16.png' | asseturl }}">
<link href="{{ '/static/site.webmanifest' | url }}" rel="manifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<title>IT Sochi</title>
<meta name="description" content="Сочинское ИТ сообщество">
<link href="{{ '/css/index.css' | asseturl }}" rel="stylesheet">
<script src="https://kit.fontawesome.com/e7de519fa6.js" crossorigin="anonymous"></script>