<section class="mission" id="mission">
    <div class="mission-wrap">
        <div class="mission-points"><img class="svg" src="{{ 'img/mission/points.svg' | url }}" alt=""
                                         role="presentation"/>
        </div>
        <div class="mission-sea"><img class="svg" src="{{ 'img/mission/sea.svg' | url }}" alt="" role="presentation"/>
        </div>
        <div class="mission-description"><h1 class="mission-title">Наша миссия</h1>
            <div class="mission-text">Обьединеняем между собой специалистов, которые живут в Сочи,<br/>переехали на
                ПМЖ или
                находятся в командировке
            </div>
            <div class="mission-center">
                <img class="mission-ellipse" src="{{ '/img/mission/sun.svg' | asseturl }}" alt="">
<!--                <div class="mission-ellipse"></div>-->
            </div>
        </div>
        <div class="mission-content">
            <div class="mission-about">
                <div class="whoWe">
                    <div class="whoWe-title">Кто мы?</div>
                    <div class="whoWe-text">Мы — профессиональное сообщество digital-специалистов в городе Сочи.
                        Проводим тематические мероприятия в области IT-технологий.
                    </div>
                </div>
                <div class="weAre">
                    <div class="weAre-title">Нас уже</div>
                    <div class="weAre-specialists"><b>>760</b><span class="icons">👨‍👩‍</span><br/>специалистов
                    </div>
                </div>
            </div>
            <div class="mission-blocks">
                <div class="missions">
                    <div class="missions-wrap">
                        <div class="block swiper-slide-active" style="width: 309.333px; margin-right: 16px;">
                            <div class="block-wrap">
                                <div class="block-pic"><img class="block-img"
                                                            src="{{ '/img/mission/programming.png' | url }}" alt=""
                                                            role="presentation"/></div>
                                <div class="block-content">
                                    <div class="block-title">Образование</div>
                                    <div class="block-description">Неважно, новичок или умудрённый двадцатилетним
                                        опытом разработчик —
                                        приходите узнавать новое и общаться.&nbsp;<b>Вход свободный!</b></div>
                                </div>
                            </div>
                        </div>
                        <div class="block swiper-slide-active" style="width: 309.333px; margin-right: 16px;">
                            <div class="block-wrap">
                                <div class="block-pic"><img class="block-img"
                                                            src="{{ 'img/mission/connection.png' | url }}" alt=""
                                                            role="presentation"/></div>
                                <div class="block-content">
                                    <div class="block-title">Нетворкинг</div>
                                    <div class="block-description">Создаем пространство для&nbsp;<b>живого
                                        общения</b>&nbsp;и
                                        комфортного обучения. Условия для поиска партнеров и сотрудников
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block swiper-slide-active" style="width: 309.333px; margin-right: 16px;">
                            <div class="block-wrap">
                                <div class="block-pic"><img class="block-img" src="{{ 'img/mission/magic.png' | url }}"
                                                            alt=""
                                                            role="presentation"/></div>
                                <div class="block-content">
                                    <div class="block-title">Организация</div>
                                    <div class="block-description">В рамках сообщества проводятся митапы,
                                        мастер-классы, конференции с
                                        количеством посетителей&nbsp;<b>до 500 человек!</b></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="missions-pagination"></div>
                </div>
            </div>
            <div class="mission-actions">
                <a class="button button_color_yellow button_clip" href="{{ bag('links.telegram_link') }}" target="_blank" type="button"><span
                        class="button-text">Присоединиться к сообществу</span><span
                        class="button-icon">{% include "svg/button_icon_svg/button_icon.html" %}</span>
                </a>
                <div class="socials socials_inContent" style="margin-left:8px">
                    {% include "blocks_to_include/_list_of_social_links.html" %}
                </div>
            </div>
        </div>
    </div>
</section>