<!doctype html>
<html lang="en">
<head>
    {% include '_head.html' %}
</head>

<body class="page page_page">
{# CONTENT #}
{% block content %}
{% endblock %}
<script src="{{ '/js/vendors.js' | asseturl }}"></script>
<script src="{{ '/js/index.js'| asseturl }}"></script>
<script>
    window.addEventListener('DOMContentLoaded', () => {
        let temp = document.querySelectorAll('.event-pic');

        temp.forEach(function (currentItem) {
            let qwe = currentItem.querySelector('.event-register');

            if (qwe.classList.contains('event-register-open')) {
                console.log(currentItem);
                currentItem.querySelector('.event-bg').remove();
            }
        })
    });
</script>
</body>
</html>