{% extends 'layout.html' %}

{% block content %}

    {% include '_header_menu_mobile.html' %}
    <div class="page-top" style="background-color: transparent; margin-bottom: 0">
        {% include "_header_menu.html" %}
    </div>

    <section class="privacy-policy">

        <div class="policy-header">
            <h2 class="policy-title">Политика безопасности сайта IT-Sochi</h2>
        </div>

        <div class="policy-wrap">
                <div  class="policy-part">
                    <h3 class="policy-header">Политика Конфиденциальности сайта itsochi.pro</h3>

                    <p class="policy-description">Администрация сайта itsochi.pro обязуется сохранять вашу
                        конфиденциальность в Интернете. Мы уделяем большое значение охране предоставленных вами данных.
                        Наша политика конфиденциальности основана на требованиях <a class="policy-link"
                                                                                    href="{{ 'https://ec.europa.eu/info/law/law-topic/data-protection_en' | url }}">Общего
                            регламента о защите персональных
                            данных Европейского Союза (GDPR)</a>. Цели, в которых мы собираем персональные данные:
                        улучшение
                        работы нашего сервиса, осуществление контактов с посетителями данного сайта, осуществление
                        услуг, связанных с направлением деятельности данного сайта, , а так же для указанных ниже
                        действий.</p>
                </div>

                <div class="policy-part">
                    <h3 class="policy-header">Использование технических данных при посещении сайта</h3>

                    <p class="policy-description">При посещении вами сайта itsochi.pro в базе данных сохраняются записи
                        о вашем IP адресе, времени посещения, настройках браузера, операционной системе, а также другая
                        техническая информация необходимая для корректного отображения содержимого сайта. По этим данным
                        нам невозможно идентифицировать личность посетителя.</p>
                </div>

                <div class="policy-part">
                    <h3 class="policy-header">Использование персональных данных другими сервисами</h3>

                    <p class="policy-description">На этом сайте используются сторонние интернет-сервисы, осуществляющие
                        независимый от нас сбор информации: Yandex.Metrica, . Собранные ими данные могут предоставляться
                        другим службам внутри этих организаций, они могут использовать данные для персонализации рекламы
                        своей собственной рекламной сети. Вы можете прочитать пользовательские соглашения этих
                        организаций на их сайтах. Там же вы можете отказаться от сбора ими персональных данных, к
                        примеру, используя блокировщик <a
                                href="{{ 'https://tools.google.com/dlpage/gaoptout?hl=ru' | url }}" class="policy-link">Google
                            Analytics</a> или блокировщик <a
                                href="{{ 'https://yandex.ru/support/metrica/general/opt-out.html' | url }}"
                                class="policy-link">Яндекс Метрики</a>. Мы не
                        передаем персональные данные другим организациям и службам, не указанным в данной политике
                        конфиденциальности. Исключение составляет только передача информации при законных требованиях
                        государственных органов уполномоченных осуществлять данные действия.</p>
                </div>

                <div class="policy-part">
                    <h3 class="policy-header">Ссылки на другие сайты</h3>

                    <p class="policy-description">Наш сайт itsochi.pro может содержать ссылки на другие сайты, которые
                        не управляются нами. Мы не несем ответственность за их содержание. Мы рекомендуем вам
                        ознакомиться с политикой конфиденциальности каждого сайта, который вы посещаете, если она там
                        есть.</p>
                </div>

                <div class="policy-part">
                    <h3 class="policy-header">Изменения в политике конфиденциальности</h3>

                    <p class="policy-description">Наш сайт itsochi.pro может обновлять нашу политику конфиденциальности
                        время от времени. Мы сообщаем о любых изменениях, разместив новую политику конфиденциальности на
                        этой странице. Мы отслеживаем изменения законодательства, касающегося персональных данных в
                        Европейском Союзе и в государстве Россия. Если вы оставили персональные данные у нас, то мы
                        оповестим вас об изменении в политике конфиденциальности. Если ваши персональные данные были
                        введены не корректно, то мы не сможем с вами связаться.</p>
                </div>

                <div class="policy-part">
                    <h3 class="policy-header">Обратная связь, заключительные положения</h3>

                    <p class="policy-description">Связаться с администрацией сайта itsochi.pro по вопросам, связанным с
                        политикой конфиденциальности можно по адресу: a.bulgakova@urbamatica.com, либо с помощью
                        контактной формы указанной в соответствующем разделе данного сайта. Если вы не согласны с данной
                        политикой конфиденциальности, вы не можете пользоваться услугами сайта itsochi.pro, в этом
                        случае вы должны воздержаться от посещения нашего сайта.</p>
                </div>

        </div>
    </section>

        {% include "blocks_to_include/_contacts_questions.html" %}
{% endblock %}