{% extends 'layout.html' %}

{% block content %}

    {% include "_header_menu_mobile.html" %}
    <div class="page-top" style="background-color: transparent; margin-bottom: 0;">
        {% include "_header_menu.html" %}
    </div>

    <section class="speaker">
        <div class="speaker-wrap">

            <div class="speaker-header-wrap">
                <h1 class="speaker-header">Наши спикеры</h1>
            </div>

            <div class="speaker-list">
                {% set speakers = site.query('/speakers').all() %}
                {% for speaker in speakers %}

                    <div class="speaker-item">
                        <div class="speaker-avatar">
                            {% for image in speaker.attachments.images %}
                                <img src="{{ image.thumbnail(300, 256, mode="crop")| url }}" alt="Center image" class="speaker-avatar">
                            {% endfor %}
                        </div>

                        <div class="speaker-info">
                            <div class="speaker-name">
                                {{ speaker.name }}
                            </div>
                            <div class="speaker-content">
                                {{ speaker.description }}, {{ speaker.company }}
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>


{% endblock %}