mixin mobileMenu()
  +b.mobileMenu
    +e.content
      +e.header
        +e.logo
          +logo()
        +toogleMenu(true)._close
      +e.menu
        +menu()
    +e.social
      +socials()._mobile
