<section class="contacts" id="contacts">
    <div class="contacts-wrap">
        <div class="contacts-woman"><img class="svg" src="{{ '/img/contacts/woman.svg'| asseturl }}" alt=""
                                         role="presentation"/>
        </div>
        <div class="contacts-sea"><img class="svg" src="{{ '/img/contacts/sea.svg'| asseturl }}" alt=""
                                       role="presentation"/></div>
        <div class="contacts-content">
            <div class="contacts-title">Остались вопросы?</div>
            <div class="contacts-subtitle">Мы с радостью ответим</div>
            <div class="contacts-list">
                <div class="contacts-item">
                    {% include 'svg/contact_questions/_mail.html' %}
                    <a class="contacts-value" href="mailto:hello@itsochi.ru">
                        hello@itsochi.ru
                    </a>
                </div>
                <div class="contacts-item">
                    <img src="{{ '/img/icons/feedback.svg' }}" alt="" class="contacts-feedback-icon">
                    <a href="{{ bag('links.google_feedback_form_link') }}" class="contacts-value" target="_blank">
                        Обратная связь
                    </a>
                </div>
                <a href="{{ "/organizers" | url }}" class="contacts-item">
                {% include 'svg/contact_questions/_organizers.html' %}
                <div class="contacts-value">Организаторы и контрибьютеры</div>
                </a>
                <div class="contacts-sepor"></div>
                <div class="contacts-item">
                    {% include 'svg/contact_questions/_telegram.html' %}
                    <a class="contacts-value" href="{{ bag('links.telegram_link') }}" target="_blank">
                        t.me/it_sochi
                    </a>
                </div>
                <div class="contacts-item">
                    {% include 'svg/contact_questions/_instagram.html' %}
                    <a class="contacts-value" href="{{ bag('links.instagram_link') }}" target="_blank">
                        inst.com/it_sochi_community
                    </a>
                </div>
                <div class="contacts-item">
                    {% include 'svg/contact_questions/_vk.html' %}
                    <a class="contacts-value" href="{{ bag('links.vk_link') }}" target="_blank">
                        vk.com/south_itcommunity
                    </a>
                </div>
                <div class="contacts-item">
                    {% include 'svg/contact_questions/_facebook.html' %}
                    <a class="contacts-value" href="{{ bag('links.facebook_link') }}" target="_blank">
                        facebook.com/itsochipro
                    </a>
                </div>
                <div class="contacts-item">
                    {% include 'svg/contact_questions/_youtube.html' %}
                    <a class="contacts-value" href="{{ bag('links.youtube_link') }}" target="_blank">
                        youtube.com/itsochi
                    </a>
                </div>
            </div>
            <div class="contacts-logo">
                <div class="logo"><img class="logo-img" src="{{ '/img/logo.svg'|asseturl }}" alt=""
                                       role="presentation"/>
                </div>
            </div>
            <div class="github">
                <div class="github-content">
                    <div class="github-title">Этот сайт с открытым исходным кодом</div>
                    <div class="github-text">Поможем его улучшить?</div>
                </div>
                <a class="github-fork" href="{{ bag("links.github_link") }}" target="_blank">
                {% include 'svg/contact_questions/_github.html' %}
                Fork on Github</a></div>
            <div class="contacts-footer">
                <a href="{{ '/privacy-policy' | url }}" class="contacts-link">Политика безопасности</a>
                <div class="contacts-slash">/</div>
                <div class="contacts-text">&#169; Все права защищены</div>
            </div>
        </div>
    </div>
</section>