<div class="socials-list">
    <div class="socials-item"><a class="socials-link" href="{{ bag('links.telegram_link') }}" target="_blank"><img class="socials-img"
                                                                                                   src="{{ '/img/icons/socials/telegram.svg'|url }}"
                                                                                                   alt=""
                                                                                                   role="presentation"/></a>
    </div>
    <div class="socials-item"><a class="socials-link" href="{{ bag('links.youtube_link') }}" target="_blank"><img class="socials-img"
                                                                                                  src="{{ '/img/icons/socials/youtube.svg'|url }}"
                                                                                                  alt=""
                                                                                                  role="presentation"/></a>
    </div>
    <div class="socials-item"><a class="socials-link" href="{{ bag('links.facebook_link') }}" target="_blank"><img class="socials-img"
                                                                                                   src="{{ '/img/icons/socials/facebook.svg'|url }}"
                                                                                                   alt=""
                                                                                                   role="presentation"/></a>
    </div>
    <div class="socials-item"><a class="socials-link" href="{{ bag('links.instagram_link') }}" target="_blank"><img class="socials-img"
                                                                                                    src="{{ '/img/icons/socials/instagram.svg'|url }}"
                                                                                                    alt=""
                                                                                                    role="presentation"/></a>
    </div>
    <div class="socials-item"><a class="socials-link" href="{{ bag('links.vk_link') }}" target="_blank"><img class="socials-img"
                                                                    src="{{ '/img/icons/socials/vk.svg'|url }}"
                                                                    alt=""
                                                                    role="presentation"/></a>
    </div>
</div>