@import '../../../../assets/styles/vars';

.header {
  margin: 0 24px;
  background: #fff;
  height: 80px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: relative;
  z-index: 1;
}

.header-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.header-left {
  display: flex;
  height: 100%;
}

.header-logo {
  margin-right: 30px;
  width: 102px;
}

@media screen and (max-width: $mdDesktopWidth) {
  .header-socials {
    display: none;
  }
}

@media only screen and (max-width: $tableWidth) {
  .header-menu {
    display: none;
  }
}

@media screen and (max-width: $mdPhoneWidth) {
  .header {
    margin: 0 8px;
  }
}
