<section class="partners" id="partners">
    <div class="partners-wrap">
        <div class="partners-description">
            <h1 class="partners-title">Партнёры</h1>
        </div>
        <div class="partners-content">
            <div class="partners-items">

                {% include "partners/_yandex_item_for_list_on_main.html" %}
                <div class="partner-width-fix"></div>
                {% include "partners/_merge_item_for_list_on_main.html" %}
                <div class="partner-width-fix"></div>
                {% include "partners/_urbamatica_item_for_list_on_main.html" %}
                <div class="partner-width-fix"></div>
                {% include "partners/_tinkoff_item_for_list_on_main.html" %}
                <div class="partner-width-fix"></div>
                {% include "partners/_wellyes_item_for_list_on_main.html" %}

            </div>
        </div>
    </div>
</section>