<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">

            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                 style="background-image: url({{ '/itsochi-mvp/img/bg-showcase-4.jpg' | url }});"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Образование</h2>
                <p class="lead mb-0">
                    Неважно, новичок или умудрённый двадцатилетним опытом разработчик — приходите узнавать новое и общаться, вход свободный!
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url({{ '/itsochi-mvp/img/bg-showcase-6.jpg' | url }});"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Нетворкинг</h2>
                <p class="lead mb-0">
                    Создаем пространство для живого общения и комфортного условия для поиска партнеров и сотрудников.
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                 style="background-image: url({{ '/itsochi-mvp/img/bg-showcase-5.jpg' | url }});"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Организация меропритий</h2>
                <p class="lead mb-0">
                    В рамках сообщества проводятся митапы, мастер классы, конференции с количеством посетителей до 500 человек.
                </p>
            </div>
        </div>
    </div>
</section>