<section class="testimonials bg-light text-center">
    <div class="container">
        <h2 class="mb-5">Организитора и партнеры</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{{ '/itsochi-mvp/img/admins/bershadsky2.big.jpg' | url }}" alt="">
                    <h5>Сергей Бершадский</h5>
                    <p><strong style="color: gray">Руководитель разработки</strong></p>
{#                    <p cla  ss="font-weight-light mb-0">#}
{#                        "This is fantastic! Thanks so much guys!"#}
{#                    </p>#}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{{ '/itsochi-mvp/img/admins/ryabikin.big.jpg' | url }}" alt="">
                    <h5>Денис Рябикин</h5>
                    <p><strong style="color: gray">Digital-предприниматель</strong></p>
{#                    <p class="font-weight-light mb-0">#}
{#                        "Bootstrap is amazing. I've been using it to create lots of super nice landing pages."#}
{#                    </p>#}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="{{ '/itsochi-mvp/img/admins/pavel_shum.jpg' | url }}" alt="">
                    <h5>Павел Шум</h5>
                    <p><strong style="color: gray">Руководитель разработки</strong></p>
{#                    <p class="font-weight-light mb-0">#}
{#                        "Thanks so much for making these free resources available to#}
{#                        us!"#}
{#                    </p>#}
                </div>
            </div>
        </div>
    </div>
</section>