<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="fa fa-question m-auto text-primary"></i>
                    </div>
                    <h3>Кто мы?</h3>
                    <p class="lead mb-0">
                        профессиональное сообщество диджитал специалистов в городе Сочи.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="fa fa-users m-auto text-primary"></i>
                    </div>
                    <h3>Сколько нас</h3>
                    <p class="lead mb-0">
                        Нас уже {{ telegram_chat_members_count | default(241) }}
                        специалиста из информационных, программных и интернет технологий
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="fa fa-cog m-auto text-primary"></i>
                    </div>
                    <h3>Что мы делаем?</h3>
                    <p class="lead mb-0">...</p>
                </div>
            </div>
        </div>
    </div>
</section>