<ul class="list-inline mt-3">
    <li class="list-inline-item">
        <a href="https://t.me/it_sochi" target="_blank">
            <i class="fab fa-telegram fa-2x fa-fw"></i>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="#">
            <i class="fab fa-facebook fa-2x fa-fw"></i>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="#">
            <i class="fab fa-github fa-2x fa-fw"></i>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="#">
            <i class="fab fa-instagram fa-2x fa-fw"></i>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="#">
            <i class="fab fa-vk fa-2x fa-fw"></i>
        </a>
    </li>

    <li class="list-inline-item">
        <a href="#">
            <i class="fab fa-meetup fa-2x fa-fw"></i>
        </a>
    </li>
    </li>
{#    <li class="list-inline-item">#}
{#        <a class="btn btn-outline-dark" style="margin-top: -14px;" href="#">#}
{#            <img src="{{ '/static/img/logos/timepad-black.png' | url }}" width="150" alt="Timepad"/>#}
{#        </a>#}
{#    </li>#}
</ul>