// Font
$mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #111111;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$mdDesktopWidth          : 1024px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$mdPhoneWidth            : 375px;
$smPhoneWidth            : 320px;

$primary-color           : #FECE2F;
$dark-color              : #111111;
$grey-color              : #1D1D1D;
$white-color             : #FFFFFF;
$purple-color            : #640CDE;
$red-color               : #EB5757;
$green-color             : #1EDE6F;
$orange-color            : #F45830;
$blue-color              : #0066FF;
